Repository varioustoxins/ustar: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy-parser, cargo-clippy-tools, cargo-test-parser-lib, cargo-test-tools-lib

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        files: \.rs$
        pass_filenames: false
        args: ["--all", "--", "--check"]
      
      - id: cargo-clippy-parser
        name: cargo clippy (ustar-parser)
        entry: cargo clippy
        language: system
        files: ustar-parser/.*\.rs$
        pass_filenames: false
        args: ["--all-targets", "--all-features", "-p", "ustar-parser", "--", "-D", "warnings"]
      
      - id: cargo-clippy-tools
        name: cargo clippy (ustar-tools) 
        entry: cargo clippy
        language: system
        files: ustar-tools/.*\.rs$
        pass_filenames: false
        args: ["--all-targets", "--all-features", "-p", "ustar-tools", "--", "-D", "warnings"]
      
      - id: cargo-test-parser-lib
        name: cargo test (ustar-parser lib only)
        entry: cargo test
        language: system
        files: ustar-parser/.*\.rs$
        pass_filenames: false
        args: ["--lib", "--all-features", "-p", "ustar-parser"]
      
      - id: cargo-test-tools-lib
        name: cargo test (ustar-tools lib only)
        entry: cargo test
        language: system  
        files: ustar-tools/.*\.rs$
        pass_filenames: false
        args: ["--lib", "--all-features", "-p", "ustar-tools"]

Fix clippy warnings for miette diagnostic fields, again!
  ustar-parser/src/error_core.rs
  ustar-parser/src/extended_errors.rs
Due: cargo-fmt, cargo-clippy-parser, cargo-test-parser-lib

fix clippy warnings for miette a 3rd time!
  ustar-parser/src/error_core.rs
Due: cargo-fmt, cargo-clippy-parser, cargo-test-parser-lib

Fix clippt warnings for miette for a 4th time
  ustar-parser/src/error_core.rs
  ustar-parser/src/extended_errors.rs
Due: cargo-fmt, cargo-clippy-parser, cargo-test-parser-lib

Fix clippy warnings for miette for a 5th time
  ustar-parser/src/error_core.rs
  ustar-parser/src/extended_errors.rs
Due: cargo-fmt, cargo-clippy-parser, cargo-test-parser-lib

Fix clippy warnings for miette for a 6th time!
  ustar-parser/src/error_core.rs
  ustar-parser/src/extended_errors.rs
Due: cargo-fmt, cargo-clippy-parser, cargo-test-parser-lib

accept new snapshots with assetion line listed
  ustar-tools/tests/snapshots/ustar_test_utils__snapshot_utils__binary_integration_tests__sas_demo_comprehensive_example.snap.gz
  ustar-tools/tests/snapshots/ustar_test_utils__snapshot_utils__binary_integration_tests__ustar_parse_debugger_invalid_file.snap.gz
Due: none

update wrapper round insta snapshot system for compressed storage using synchronized snapshots
  .gitignore
  scripts/insta-accept.sh
  ustar-test-utils/src/snapshot_utils.rs
Due: cargo-fmt

better naming for some snapshot files
  ustar-parser/tests/error_handling_tests.rs
  ustar-parser/tests/sas_walker_tests.rs
  ustar-test-utils/src/snapshot_utils.rs
Due: cargo-fmt, cargo-clippy-parser, cargo-test-parser-lib

reorganize CI script so components can be run locally
  .github/workflows/ci.yml
  scripts/CI-TOOLS-README.md
  scripts/ci-code-quality.sh
  scripts/ci-grammar-generation.sh
  scripts/ci-integration-tests.sh
  scripts/ci-local-check-before-push.sh
  scripts/ci-local-run-all.sh
  scripts/ci-local-rust-is-stable.sh
  scripts/ci-local-test.sh
  scripts/ci-test-matrix.sh
  scripts/ci-test-suite.sh
Due: none

ci rust is stable now works and doesn't use regexes
  scripts/ci-local-rust-is-stable.sh
Due: none

add extra excludes to avoid snapshots beinga dded to cargo builds
  ustar-parser/Cargo.toml
  ustar-tools/Cargo.toml
Due: none

added a document outlining snapshot management
  CLAUDE.md
  SNAPSHOT_STRATEGY.md
Due: none

added a simple local cargo release script
  scripts/cargo-release.sh
Due: none

don't allow whitespace changes in test data files
  .gitattributes
  .vscode/settings.json
Due: none

improve cargo release script
  scripts/cargo-release.sh
Due: none

when checking package just do a package not publish --dry-run because of workspace limitations
  scripts/cargo-release.sh
Due: none

remove rust formatter selecttion that causes problems with vsc problems panel (false positive)
  .vscode/settings.json
Due: none

remove cargo lock from commit as we build binaries [see plans/ci-dependency-compatibility-checks.md.]
  .gitignore
  CLAUDE.md
  Cargo.lock
  plans/ci-dependency-compatibility-checks.md
Due: none

make parser test stable against changes in the pest pairs interface
  ustar-parser/tests/parser_tests.rs
  ustar-parser/tests/snapshots/parser_tests__comprehensive_example.snap.zst
  ustar-parser/tests/snapshots/parser_tests__comprehensive_example_crlf.snap.zst
  ustar-test-utils/Cargo.toml
  ustar-test-utils/src/lib.rs
  ustar-test-utils/src/pest_format.rs
Due: cargo-fmt, cargo-clippy-parser, cargo-test-parser-lib
